
{% extends 'base.html' %}
{% block title %}FLEX{% endblock  %}
{% block body %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="path-to-owl-carousel/owl.carousel.min.js"></script>

<style>
 
    .icon-box {
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }
    
    .icon-box-icon {
        flex-shrink: 0;
        margin-right: 20px; /* Add some spacing between icon and text */
    }
    
    .icon-box-content {
        flex: 1; /* Allow the content to expand and take up remaining space */
        text-align: center; /* Center the text horizontally */
    }



    @media (max-width: 800px) {
        .container-fluid.hy {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    
        .container-fluid.hy > div {
            flex: 0 0 calc(33.333% - 20px);
            margin: 10px;
        }
    
        .container-fluid.hy img {
            max-width: 85%;
            height: auto;
        }
    
        .container-fluid.hy h5.banner-title {
            font-size: 85%;
        }
    }

    .icon-boxes-container .icon-box .icon-box-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

   
</style>


        <main class="main">
            <div class="container">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="{% static 'template/assets/images/demos/demo-10/slider/slide-1-480w.jpg' %}">
                                    <img src="{% static 'template/assets/images/demos/demo-10/slider/slide-1.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Sneakers & Athletic Shoes</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">from $9.99</div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="{% static 'template/assets/images/demos/demo-10/slider/slide-2-480w.jpg' %}">
                                    <img src="{% static 'template/assets/images/demos/demo-10/slider/slide-2.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Trending Now</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">This Week's Most Wanted</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">from $49.99</div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="{% static 'template/assets/images/demos/demo-10/slider/slide-3-480w.jpg' %}">
                                    <img src="{% static 'template/assets/images/demos/demo-10/slider/slide-3.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle text-white">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Can’t-miss Clearance:</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">starting at 60% off</div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                    </div><!-- End .intro-slider owl-carousel owl-simple -->
                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .container -->



            <div class="banner-group">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="banner banner-overlay">
                                        <a href="#">
                                            <img src="{% static 'template/assets/images/demos/demo-10/banners/banner-1.jpg' %}" alt="Banner">
                                        </a>

                                        <div class="banner-content banner-content-right">
                                            <h4 class="banner-subtitle"><a href="#">New Arrivals</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white"><a href="#">Sneakers & <br>Athletic Shoes</a></h3><!-- End .banner-title -->
                                            <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="banner banner-overlay banner-overlay-light">
                                        <a href="#">
                                            <img src="{% static 'template/assets/images/shoes/post-3.jpg' %}" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title"><a href="#">Sandals</a></h3><!-- End .banner-title -->
                                            <div class="banner-text"><a href="#">up to 70% off</a></div><!-- End .banner-text -->
                                            <a href="#" class="btn btn-outline-gray banner-link btn-round">Shop Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="banner banner-large banner-overlay d-none d-sm-block">
                                <a href="#">
                                    <img src="{% static 'template/assets/images/demos/demo-10/banners/banner-3.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Slip-On Loafers</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">up to 30% off</a></div><!-- End .banner-text -->
                                    <a href="#" class="btn btn-outline-white banner-link btn-round">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4 d-sm-none d-lg-block">
                            <div class="banner banner-middle banner-overlay">
                                <a href="#">
                                    <img src="{% static 'template/assets/images/demos/demo-10/banners/banner-4.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-bottom">
                                    <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Amazing <br>Lace Up Boots</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">from $39.00</a></div><!-- End .banner-text -->
                                    <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container --> 
            </div><!-- End .banner-group -->

            <div class="icon-boxes-container icon-boxes-separator bg-transparent containerfluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col-sm-12 col-lg-6">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content", .te >
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div>
                </div>
                
                        
            <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg mb-2"> PRODUCTS</h2><!-- End .title-lg text-center -->
                </div><!-- End .heading -->


                
                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                        <div class="products just-action-icons-sm">
                            <div class="row">
                                {%for c in variant_images %}
                            
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">

                                    <div class="product product-3 text-center">
                                        
                                            <figure class="product-media">
                                                <a href="{% url 'productshow' c.variant.product.id c.variant.id %}">
                                                    <img src="{{c.image.url }} " alt="Product image" class="product-image">
                                                    <img src="{{c.image.url }}" alt="Product image" class="product-image-hover">
                                                </a>

                                                <div class="product-action-vertical">
                                                    
                                                    <a href="" class="btn-product-icon btn-cart btn-expandable addcart"  data-product_id="{{c.variant.id}}"><span>add to cart</span></a>

                                                    <a href="" class="btn-product-icon btn-wishlist btn-expandable wish-list wishlistshamnad"  data-product_id="{{c.variant.id}}"><span>add to wishlist</span></a>

                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->
                                        

                                        <div class="product-body">
                                            <div class="product-cat">
                                               
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="{% url 'productshow' c.variant.product.id c.variant.id %}">{{c.variant.product.product_name}}</a></h3><!-- End .product-title -->
                                            <div class="product-price">

                                                <span class="new-price">${{c.variant.product.product_price}}</span>
                                        
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 4 Reviews )</span>
                                            </div><!-- End .rating-container -->

                                            <div class="product-nav product-nav-dots">
                                               <a href="#" id="colorLink{{ forloop.counter }}"><span class="sr-only"></span></a>
                                                <script>
                                                    var colorCode = "{{ c.variant.color.color_code }}";
                                                    var colorLink = document.getElementById("colorLink{{ forloop.counter }}");
                                                    colorLink.style.background = colorCode;
                                                </script>
                                            </div><!-- End .product-nav -->

                                            <div class="product-action">
                                                <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                                <a href="" data-product_id="{{ c.variant.id }}" class="btn-product btn-cart addcart" title="Add to cart"><span>add to cart</span></a>
                                                {% comment %} <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> {% endcomment %}
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->
                                {% endfor %}

                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                   

                <div class="more-container text-center mt-5">
                    <a href="category.html" class="btn btn-outline-lightgray btn-more btn-round"><span>View more products</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->

            


            <div class="blog-posts">
                <div class="container">
                    <h2 class="title-lg text-center mb-4">From Our Blog</h2><!-- End .title-lg text-center -->

                    <div class="owl-carousel owl-simple mb-4" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "520": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                }
                            }
                        }'>
                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="{% static 'template/assets/images/demos/demo-10/blog/post-1.jpg' %}" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body text-center">
                                <div class="entry-meta">
                                    <a href="#">Nov 22, 2018</a>, 0 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Sed adipiscing ornare.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p> 
                                    <a href="single.html" class="read-more">READ MORE</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    
                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="{% static 'template/assets/images/demos/demo-10/blog/post-2.jpg' %}" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body text-center">
                                <div class="entry-meta">
                                    <a href="#">Dec 12, 2018</a>, 0 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Fusce lacinia arcuet nulla.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. </p>
                                    <a href="single.html" class="read-more">READ MORE</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="{% static 'template/assets/images/demos/demo-10/blog/post-3.jpg' %}" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body text-center">
                                <div class="entry-meta">
                                    <a href="#">Dec 19, 2018</a>, 2 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Aliquam erat volutpat.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <p>Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>
                                    <a href="single.html" class="read-more">READ MORE</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="{% static 'template/assets/images/demos/demo-10/blog/post-4.jpg' %}" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body text-center">
                                <div class="entry-meta">
                                    <a href="#">Dec 19, 2018</a>, 2 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Quisque a lectus.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
                                    <a href="single.html" class="read-more">READ MORE</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    </div><!-- End .owl-carousel -->

                    <div class="more-container text-center mt-1">
                        <a href="blog.html" class="btn btn-outline-lightgray btn-more btn-round"><span>View more articles</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .more-container -->
                </div><!-- End .container -->
            </div><!-- End .blog-posts -->
        </main><!-- End .main -->



        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('.addcart').click(function (e) {
        e.preventDefault();

        var product_id = $(this).data('product_id');
        var add_qty = '1';
        var add_size = $('#size-input').val();

        // var cart_qty = $('#pro_qty' + product_id).val();  
        console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
        $.ajax({
            method: "POST",
            url: "{% url 'addcart' %}",
            data: {

                'variant_id': product_id,
                'add_size':add_size,
                'add_qty': add_qty,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {

                console.log(response);

                if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                    swal.fire("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'Product added successfully') { 
                    swal.fire("", response.status, "success");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'you are not login please Login to continue') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else if (response.status === 'Sorry! this variant not available') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else {
                    swal("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                }
            }
        });
    });
</script>


<script>
    $('.wishlistshamnad').click(function (e) {
        e.preventDefault();

        var product_id = $(this).data('product_id');
        var add_size = $('select[name="size"]').val();

        console.log(product_id,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
        $.ajax({
            method: "POST",
            url: "{% url 'add_wishlist1' %}",
            data: {

                'variant_id': product_id,
                'add_size':add_size,
             
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {

                console.log(response);

                if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in Wishlist' ) {
                    swal.fire("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'Product added successfully in Wishlist') { 
                    swal.fire("", response.status, "success");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'you are not login please Login to continue') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else if (response.status === 'Sorry! this variant not available') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else {
                    swal("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                }
            }
        });
    });
</script>
<!-- Add this before the closing </body> tag of your HTML -->
<script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>


        {% endblock  %}
        