{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>A simple, clean, and responsive HTML invoice template</title>
</head>

<style>

    .tableitems th,
    .tableitems td {
        padding: 2px;
        text-align: left;
        border: 2px solid #ddd;
    }


</style>

<body>

	<div class="company-logo" style="text-align: center;">
		<img src="static/template/assets/images/icons/flex.png" alt="company Logo" style="width: 200 px; max-width: 2000px">
	</div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if address %}
                <div class="col-md-5">
                    <h5 class="card-title fw-semibold mb-4"> ORDER ADDRESS</h5>
                    <div class="card">

                        <div class="card-body">
                            <table class="tableitems">

                                <tr>
                                    <td><strong>First Name</strong></td>
                                    <td>:{{address.first_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Last Name</strong></td>
                                    <td>:{{address.last_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Phone Number</strong></td>
                                    <td>:{{address.phone}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td>:{{address.email}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Address</strong></td>
                                    <td>:{{address.address}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Country</strong></td>
                                    <td>:{{address.country}}</td>
                                </tr>
                                <tr>
                                    <td><strong>City</strong></td>
                                    <td>:{{address.city}}</td>
                                </tr>
                                <tr>
                                    <td><strong>State</strong></td>
                                    <td>:{{address.state}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Pincode</strong></td>
                                    <td>:{{address.pincode}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Order note</strong></td>
                                    <td>:{{address.order_note}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
				<br>
                {% if orderview %}
                <div class="col-md-5">
                    <h5 class="card-title fw-semibold mb-4"> ORDER DETAILS </h5>
                    <div class="card">

                        <div class="card-body">
                            <table class="tableitems">
                                <tr>
                                    <td><strong>Order id</strong></td>
                                    <td>:{{orderview.id}}</td>
                                </tr>

                                <tr>
                                    <td><strong>User Name</strong></td>
                                    <td>{{orderview.user.first_name}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Total price</strong></td>
                                    <td>:${{orderview.total_price}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Payment method</strong></td>
                                    <td>:{{orderview.payment_mode}}</td>
                                </tr>
                                {% if orderview.payment_mode == 'cod' %}
                                <tr>
                                    <td><strong>Payment id</strong></td>
                                    <td>:None</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td><strong>Payment id</strong></td>
                                    <td>:{{orderview.payment_id}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td><strong>Tracking no</strong></td>
                                    <td>:{{orderview.tracking_no}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Ordered date</strong></td>
                                    <td>:{{orderview.created_at}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Order status</strong></td>
                                    <td>:{{orderview.order_status.order_status}}</td>
                                </tr>

                            </table>
                            <br>
                        </div>
                    </div>

                </div>
                {% endif %}
                <h5 class="card-title fw-semibold mb-4" style="text-align: center;">Items</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover tableitems">
                            <thead>
                                <tr class="text-uppercase">

                                    <th scope="col">Product name</th>
                                    <th scope="col">category</th>
                                    <th scope="col">color</th>
                                    <th scope="col">size</th>
                                    <th scope="col">price</th>
                                    <th scope="col">Quantity</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in products %}
                                <tr class="text-uppercase">
                                    <td><b>{{ i.variant.product.product_name }}</td>
                                    <td><b>{{ i.variant.product.category.categories }}</td>
                                    <td><b>{{ i.variant.color }}</td>
                                    <td><b>{{ i.variant.size }}</td>
                                    <td><b>{{ i.variant.product.product_price}}</td>
                                    <td><b>{{ i.quantity }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

						<tfoot>
							<tr>
							  <h1>
							  <th>Total</th>
							  <th style="text-align: right;">{{ orderview.total_price }}</h1></th>
							</tr>
						  </tfoot>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
