
{% extends 'base.html' %}
{% load static %}
{% block title %}edit address{% endblock %}

{% block body %}
<style>.bg-image  {
    background-image: url('{% static "template/assets/images/404.jpg" %}');
   
}</style>

<div class="page-wrapper">
    <header class="header">
        <div class="header-middle sticky-header">
            <div class="container">

            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
 
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">

        <div class=" container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                   
                       
                   
                 
                    <li class="nav-item">
                        {% for message in messages %}
                        <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %} <br>
                        {% if editaddress %}
                        <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href=" {% url 'editaddress' editaddress.id %}"
                            role="tab" aria-controls="signin-2">Edit Address</a>
                    </li>
                </ul>
                <div class="tab-content">
                    
                    <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">

                        <form action="{% url 'editaddress' editaddress.id %}"  method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter first name"  name="firstname" value="{{editaddress.first_name}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter last name"   name="lastname" value="{{editaddress.last_name}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter email"  name="email" value="{{editaddress.email}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter address" name="address" value="{{editaddress.address}}" >
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter country"  name="country" value="{{editaddress.country}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter city"  name="city" value="{{editaddress.city}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter state" name="state" value="{{editaddress.state}}" >
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter pincode"  name="pincode" value="{{editaddress.pincode}}">
                            </div><!-- End .form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter first name" name="phone" value="{{editaddress.phone}}">
                            </div><!-- End .form-group -->

                            <textarea class="form-control" cols="30" rows="4"
                            placeholder="Notes about your order, e.g. special notes for delivery" name="order_note" value="{{editaddress.order_note}}"></textarea>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Edit Address </button>
                            </div> <!-- form-group// --><br>
                            <a href="{% url 'userprofile' %}" class="btn btn-outline-primary-2"><span>BACK</span><i
                                class="icon-long-arrow-right"></i></a>

                    </div><!-- End .form-footer -->

                    </form>
                    <div class="form-choice">
                    
                    </div><!-- End .row -->
                </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
 
</div><!-- End .form-box -->
</div><!-- End .container -->
</div><!-- End .login-page section-bg -->
</div>
</main><!-- End .main -->
</div><!-- End .page-wrapper -->

{% endif %}

{% endblock %}


