{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% load static %}
{% load mathfilters %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.17.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css">

<style>.page-header {
    background-image: url('{% static "user/assets/images/page-header-bg.jpg" %}');
   
}</style>
{% if cart %}
<main class="main">
    <div class="page-header text-center">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="{% url 'Shop' %}">Shop</a></li> {% endcomment %}
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">


                        <table class="table table-cart table-mobile">
                            <thead>

                                <tr>
                                    <th>Product</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for i in cart %}
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="{% url 'productshow' i.variant.product.id i.variant.id %}">

                                                    {% for j in img %}
                                                    {% if j.variant.id == i.variant.id %}
                                                    <img src="{{ j.image.url }}" alt="Variant Image">
                                                    {% endif %}
                                                    {% endfor %}

                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="{% url 'productshow' i.variant.product.id i.variant.id %}">{{i.variant.product.product_name}}</a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col">{{i.variant.color.color_name}}</td>
                                    
                                    <td class="price-col">{{i.variant.size.size_chart}}</td>
                                    
                                    <td class="price-col">
                                        {% if i.variant.product.category.offer %}
                                            ${{ i.variant.product.product_price|sub:i.variant.product.category.offer.discount_amount }}
                                        {% else %}
                                            ${{ i.variant.product.product_price }}
                                        {% endif %}
                                    </td>


                                
                                        
                                    <td class="quantity-col product_data">
                                        <div class="input-group quantity mx-auto " style="width: 100px;">
                                            <div class="input-group-btn changeQuantity " data-variantid="{{i.id}}">
                                                <div class="product-details-quantity">
                                                    <input readonly class="mtext-104 cl3 txt-center num-product"
                                                        type="number" min="1" max="5" name="product_qty"
                                                        value="{{i.product_qty}}" id="pro_qty{{i.id}}"
                                                    >

                                                </div><!-- End .product-details-quantity -->

                                            </div>
                                            
                                        </div>
                                    </td> 

                                   
                                    <!-- Assuming the previous code is here and we focus on the "total-col" element -->

                                    <td class="total-col">
                                        $<span id='single_{{i.id}}'>
                                            {% if single %}
                                            {{ single }}
                                            {% else %}
                                            {{i.single_total }}
                                            {% endif %}
                                        </span>
                                    </td>


                           


                                    <td class="remove-col"><a href="{% url 'removecart' i.id %}"><button
                                                class="btn-remove"><i class="icon-close"></i></button></a></td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table><!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <!-- <input type="text" class="form-control" required placeholder="coupon code"> -->
                                        <div class="input-group-append">
                                            <!-- <button class="btn btn-outline-primary-2" type="submit"><i -->
                                                    <!-- class="icon-long-arrow-right"></i></button> -->
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div>

                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    

                                    <div class="container mt-4">
                                        <h4>Shipping Options</h4>
                                        <hr>
                                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="custom-control custom-radio mb-3">
                                                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="float-md-right">$0.00</span>
                                            </div>
                                        </div>
                                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="custom-control custom-radio mb-3">
                                                    <input type="radio" id="standard-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="standard-shipping">Standard Shipping</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="float-md-right">$10.00</span>
                                            </div>
                                        </div>
                                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="custom-control custom-radio mb-3">
                                                    <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="express-shipping">Fast Shipping</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="float-md-right">$20.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>
                                            $<span id='grand_total'>
                                                {% if total_price %}
                                                    {% if variant_check.product.category.offer %}
                                                        {{ total_price|sub:variant_check.product.category.offer.discount_amount }}
                                                    {% else %}
                                                        {{ total_price }}
                                                    {% endif %}
                                                {% else %}
                                                    0.00
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr><!-- End .summary-total -->
                         
                                    



                                </tbody>
                            </table><!-- End .table table-summary -->

                            <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED
                                TO
                                CHECKOUT</a>
                        </div><!-- End .summary -->

                        <a href="{% url 'shop' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
    <!-- Add this to the <head> section of your HTML -->

</main><!-- End .main -->


<link rel="stylesheet" href="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.min.css">

<!-- Add this before the closing </body> tag of your HTML -->
<script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<script>
    $('.changeQuantity').click(function (e) {
        e.preventDefault();
        var variant_id = $(this).data('variantid')
        var product_qty = $('#pro_qty' + variant_id).val()

        console.log(product_qty, variant_id, '22222222222222222')
        $.ajax({
            method: "POST",
            url: "{%url 'updatecart' %}",
            data: {
                'cart_id': variant_id,
                'product_qty': product_qty,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },

            success: function (response) {
                console.log(response);
                if (response.status === 'Not allowed this Quantity') {
                    swal("Error!", response.status, "error")
                    var checkoutLink = '<a href="#" class="primary-btn">Not allowed this quantity</a>';
                    $("a.primary-btn").replaceWith(checkoutLink);
                } else {
                }

                sub_total = parseInt(response.sub_total)
                quantity = parseInt(response.quantity)
                single = parseInt(response.single)
                var totalColElement = $('#single_' + variant_id);
                if (single) {
                    totalColElement.text(single);
                } else {
                    totalColElement.text(response.single_total);
                }
                document.getElementById('Subtotal').textContent = sub_total

                {% comment %} document.getElementById('tax_field').textContent = sub_total * 0.18 {% endcomment %}
                {% comment %} document.getElementById('grand_total').textContent = sub_total + (sub_total * 0.18)  {% endcomment %}
                document.getElementById('grand_total').textContent = sub_total
                document.getElementById('single').textContent = single

            }
        });
    });

</script>
    



{% else %}
<div class="page-header text-center">
    <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
{% endif %}

{% endblock %}