{% extends "admin/adminloginbase.html" %}
{% load static %}
{% block title %}SIGNUP{% endblock title %}
{% block adminbody %}
{% comment %} otp form {% endcomment %}
{% if otp %}

<p class="text-center">Email verification</p>
<form action="{% url 'adminsignup' %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputtext1" class="form-label">Enter OTP</label>
    <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp" name="otp">
     <input type="hidden" value="{{usr.email}}" name="email">
    {% comment %} <input type="hidden" value="{{otp}}" name="otp1"> {% endcomment %}
    
  </div>
  <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"> Submit </button></a>
  <br>
  {% for message in messages %}
  <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
  </div>
  {% endfor %}

</form>
{% else %}


{% comment %} signup form {% endcomment %}
<form action="{% url 'adminsignup' %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
  </div>
  <div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name='password1'>
  </div>
  <div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name='password2'>
  </div>
  <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button></a>
  <div class="d-flex align-items-center justify-content-center">
    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
    <a class="text-primary fw-bold ms-2" href="{% url "adminsignin" %}">Sign In</a>
  </div>

  {% for message in messages %}
  <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
  </div>
  {% endfor %}
</form>
{% endif %}
{% endblock %}