{% extends 'admin/dashboardbase.html' %}
{% block title %} color management{% endblock %}
{% load static %}
{% block body %}

<section class="content-main">
    <div class="content-header">
        <div>
            {% comment %} <h2 class="content-title card-title">User List</h2> {% endcomment %}
            {% comment %} <p>All Users of Refined Radiance.</p> {% endcomment %}
        </div>

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3" style="margin-top: 95px;">
                <div class="col-lg-2 col-6 col-md-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addCategory">
                        <button type="submit" class="btn btn-primary"><i class="ti ti-plus"></i> Add Size</button>

                    </a>
                </div>
                
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">id</th>
                            <th scope="col">size</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in product_size %}
                        <tr class="text-uppercase">
                            <td> {{c.id}} </td>
                           
                            <td> {{c.size_chart}} </td>
            
                            <td>
                                <!-- Button trigger modal -->

                                <button type="button" class="btn btn c"
                                    style="background-color: rgb(239, 7, 54); color:rgb(255, 255, 255)"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}"><i class="ti ti-trash"></i>
                                    Delete
                                </button>
                            </td>
                            <!-- Modal  for delete the Category -->
                            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            delete Size {{c.size_range }}
                                        </div>
                                        <div class="modal-footer">
                                            <!-- one here -->
                                            <form action="{% url 'deletesize' c.id %}">

                                                <button type="submit" class="btn btn"
                                                    style="background-color: rgb(239, 7, 54); color:rgb(255, 255, 255)">Confirm</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->

</section>

<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Size</h1>
                <br>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="{% url 'addsize' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div style="width: 100px;" class="">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Size</label>
                        <input name='size'  type="text" id="form3Example3cg"
                            class="form-control form-control-lg" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg gradient-custom-4 w-50 text-light"
                            type="submit">Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}