{% extends "base.html" %}
{% block title %}SHOP{% endblock title %}
{% block body %}
{% load static %}


{% comment %} 
<style>.page-header {
    background-image: url('{% static "template/assets/images/page-header-bg.jpg" %}');
   
}</style>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title"><span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        {% comment %} <li class="breadcrumb-item"><a href="#">No Sidebar</a></li>
                        {% comment %} <li class="breadcrumb-item active" aria-current="page">Boxed</li> 
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
        			<div class="toolbox">
        				<div class="toolbox-left">
                            <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        				</div><!-- End .toolbox-left -->

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                {% comment %} Showing <span>12 of 56</span> Products 
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby"></label>
                                <form id="shop-sorting" method="post" action="{% url 'shopsort' %}">
                                    {% csrf_token %}  
                                    <div class="select-custom">
                                        <select name="sort_select" id="sort-select" class="form-control">

                                            <option value="all" selected="selected">SORT</option>
                                            <option value="aplus" >A TO Z</option>
                                            <option value="aminus">Z TO A</option>
                                            <option value="priceminus">HIGH LOW PRICE</option>
                                            <option value="priceplus">LOW TO HIGH PRICE</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="auto_submit" value="true">
                                </form>
                            </div><!-- End .toolbox-sort -->
                        </div><!-- End .toolbox-right -->

                    <div class="products" id=product-list>
                        <div class="row">

                            {% if variant_images %}

                            {% for c in variant_images  %}

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="{% url "productshow" c.variant.product.id c.variant.id %}">
                                            <img src="{{ c.imgage.url }}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable wish-list" data-product_id='{{ c.variant.id }}'><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <input readonly class="mtext-104 cl3 txt-center num-product" type='hidden'
                                            name='num-product' value='1' id='qty-input'>
                                            <div class="product-action">
                                                <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                            <a href="" data-product_id="{{ c.variant.id }}" class="btn-product btn-cart add-to-cart-btn"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url "productshow " c.variant.product.id c.variant.id %}">{{ c.variant.product.product_name }}</a></h3><!-- End .product-title -->
                                        {% if c.variant.product.offer %}
                                        <div class="product-price">
                                            <del style="color: brown;">${{ c.variant.product.product_price }} </del>  <span style="color:white;">--</span> <span style="color: black;">${{c.variant.product.product_price|sub:c.variant.product.offer.discount_amount}}</span>
                                        </div><!-- End .product-price -->
                                        {% else %}
                                        <div class="product-price" >
                                            <span style="color: black;">${{c.variant.product.product_price}}</span>
                                        </div><!-- End .product-price -->
                                        {% endif %}
                                        <div class="ratings-container">

                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 0 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                         <!--  <div class="ratings-container">
                                            <div class="ratings">
                                                {% for rating in  ratings %}
                                                {% if c.variant.product.id == rating.id  %}
                                                {% if rating.avg_rating >= 4.5 %}
                                                <div class="ratings-val" style="width: 100%;"></div>
                                              {% elif rating.avg_rating >= 3.5 %}
                                                <div class="ratings-val" style="width: 80%;"></div>
                                              {% elif rating.avg_rating >= 2.5 %}
                                                <div class="ratings-val" style="width: 60%;"></div>
                                              {% elif rating.avg_rating >= 1.5 %}
                                                <div class="ratings-val" style="width: 40%;"></div>
                                              {% elif rating.avg_rating >= 0.5 %}
                                                <div class="ratings-val" style="width: 20%;"></div>
                                              {% else %}
                                              {% endif %}
                                              {% endif %}
                                              {% endfor %}
                                               -->


                                            </div><!-- End .ratings -->
                                            <!-- <span class="ratings-text">( 0 Reviews )</span> -->
                                        </div><!-- End .rating-container -->


                                        <div class="product-nav product-nav-dots">
                                            <a href="#" id="colorLink{{ forloop.counter }} "style="background: #cc9966;"><span class="sr-only"></span></a>
                                            <script>
                                                var colorCode = "{{ c.variant.color.color_code }}";
                                                var colorLink=document.getElementById("colorLink{{ forloop.counter }}");
                                                colorLink.style.background=colorCode;
                                            </script>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                    
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {% endfor %}
                        </div><!-- End .row -->
                        {% else %}
                        <h4 style="text-align:center;">SEARCH NOT FOUND</h4>
                        {% endif %}

                        <div class="load-more-container text-center">
                            <form action="{% url 'shop' %}" method="GET">
                                <input type="hidden" value="More" name="Moreproducts">
                                <button type="submit" class="btn btn-outline-darker btn-load-more">
                                    More Products <i class="icon-refresh"></i>
                                </button>
                            </form>
                        </div><!-- End .load-more-container -->
                    </div><!-- End .products -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_qty = $('#qty-input').val();
            var add_size = $('#size-input').val();
    
            // var cart_qty = $('#pro_qty' + product_id).val();  
            console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_cart' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                    'add_qty': add_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
    
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>

    <script>
        $('.wish-list').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_size = $('select[name="size"]').val();
    
            console.log(product_id,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_wish_list' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                 
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in Wishlist' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully in Wishlist') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>
    
    <!-- Add this before the closing </body> tag of your HTML -->
    <script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
<aside class="sidebar-shop sidebar-filter">
    <div class="sidebar-filter-wrapper">
            <label><i class="icon-close"></i>Filters</label>
            <a href="{% url "shop" %}" class="sidebar-filter-clear">Clean All</a>
        </div><!-- End .widget -->
        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                    Category
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-1">
                <div class="widget-body">
                    <div class="filter-items filter-items-count">
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cat-1">
                                <label class="custom-control-label" for="cat-1">Dresses</label>
                            </div><!-- End .custom-checkbox -->
                            <span class="item-count">3</span>
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cat-2">
                                <label class="custom-control-label" for="cat-2">T-shirts</label>
                            </div><!-- End .custom-checkbox -->
                            <span class="item-count">0</span>
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cat-3">
                                <label class="custom-control-label" for="cat-3">Bags</label>
                            </div><!-- End .custom-checkbox -->
                            <span class="item-count">4</span>
                        </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cat-4">
                                                    <label class="custom-control-label" for="cat-4">Jackets</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">2</span>
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cat-5">
                                                    <label class="custom-control-label" for="cat-5">Shoes</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">2</span>
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cat-6">
                                                    <label class="custom-control-label" for="cat-6">Jumpers</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">1</span>
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cat-7">
                                                    <label class="custom-control-label" for="cat-7">Jeans</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">1</span>
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cat-8">
                                                    <label class="custom-control-label" for="cat-8">Sportwear</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">0</span>
                                            </div><!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                                        Size
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-2">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-1">
                                                    <label class="custom-control-label" for="size-1">XS</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-2">
                                                    <label class="custom-control-label" for="size-2">S</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked id="size-3">
                                                    <label class="custom-control-label" for="size-3">M</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked id="size-4">
                                                    <label class="custom-control-label" for="size-4">L</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-5">
                                                    <label class="custom-control-label" for="size-5">XL</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-6">
                                                    <label class="custom-control-label" for="size-6">XXL</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                        Colour
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-3">
                                    <div class="widget-body">
                                        <div class="filter-colors">
                                            <a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" class="selected" style="background: #cc3333;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
                                            <a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
                                        </div><!-- End .filter-colors -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                        Brand
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-4">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-1">
                                                    <label class="custom-control-label" for="brand-1">Next</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-2">
                                                    <label class="custom-control-label" for="brand-2">River Island</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-3">
                                                    <label class="custom-control-label" for="brand-3">Geox</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-4">
                                                    <label class="custom-control-label" for="brand-4">New Balance</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-5">
                                                    <label class="custom-control-label" for="brand-5">UGG</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-6">
                                                    <label class="custom-control-label" for="brand-6">F&F</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand-7">
                                                    <label class="custom-control-label" for="brand-7">Nike</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                        Price
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-5">
                                    <div class="widget-body">
                                        <div class="filter-price">
                                            <div class="filter-price-text">
                                                Price Range:
                                                <span id="filter-price-range"></span>
                                            </div><!-- End .filter-price-text -->

                                            <div id="price-slider"></div><!-- End #price-slider -->
                                        </div><!-- End .filter-price -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar-filter-wrapper -->
                    </aside><!-- End .sidebar-filter -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       

{% endblock body %} -->

{% comment %} /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// {% endcomment %}

{% comment %} {% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% load static %}
{% block body %}
{% load mathfilters %} {% endcomment %}

<style>.page-header {
    background-image: url('{% static "template/assets/images/page-header-bg.jpg" %}');
   
}</style>


        <main class="main">
        	<div class="page-header text-center">
        		<div class="container-fluid">
        			<h1 class="page-title">SHOP</h1>
        		</div><!-- End .container-fluid -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">No Sidebar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fullwidth</li> -->
                    </ol>
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
        			<div class="toolbox">
        				<div class="toolbox-left">
                            <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        				</div><!-- End .toolbox-left -->

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                <!-- Showing <span>12 of 56</span> Products -->
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby"></label>
                                <form id="shop-sorting" method="post" action="{% url 'shopsort' %}">
                                    {% csrf_token %}  
                                    <div class="select-custom">
                                        <select name="sort_select" id="sort-select" class="form-control">

                                            <option value="all" selected="selected">SORT</option>
                                            <option value="aplus" >A TO Z</option>
                                            <option value="aminus">Z TO A</option>
                                            <option value="priceminus">HIGH LOW PRICE</option>
                                            <option value="priceplus">LOW TO HIGH PRICE</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="auto_submit" value="true">
                                </form>
                            </div><!-- End .toolbox-sort -->
                        </div><!-- End .toolbox-right -->
                        
        			</div><!-- End .toolbox -->

                    <div class="products" id="product-list">
                        <div class="row">
                            {% if variant_images %}
                           
                            {% for c in variant_images %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">

                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new " style="background-color: black;">New</span>
                                        <a href="{% url 'productshow' c.variant.product.id c.variant.id %}">
                                            <img src="{{c.image.url }}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable wish-list" data-product_id="{{ c.variant.id }}"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <input readonly class="mtext-104 cl3 txt-center num-product" type="hidden"
                                            name="num-product" value="1" id="qty-input">
                                            <div class="product-action">
                                                <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                            <a href="" data-product_id="{{ c.variant.id }}" class="btn-product btn-cart add-to-cart-btn"><span>add to cart</span></a>
                                            {% comment %} <a href="{% url 'Quick_view' c.variant.id %}"  class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> {% endcomment %}
                                            <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a> -->
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url 'productshow' c.variant.product.id c.variant.id %}">{{c.variant.product.product_name}}</a></h3><!-- End .product-title -->
                                        {% if c.variant.product.offer %}
                                        <div class="product-price">
                                            {% comment %} <del style="color: brown;">${{ c.variant.product.product_price }} </del>  <span style="color:white;">--</span> <span style="color: black;">${{c.variant.product.product_price|sub:c.variant.product.offer.discount_amount}}</span> {% endcomment %}
                                            <del style="color: brown;">${{ c.variant.product.product_price }} </del>  <span style="color:white;">--</span> <span style="color: black;">${{c.variant.product.product_price}}</span>

                                        </div><!-- End .product-price -->
                                        {% else %}
                                        <div class="product-price" >
                                            <span style="color: black;">${{c.variant.product.product_price}}</span>
                                        </div><!-- End .product-price -->
                                        {% endif %}
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                {% for rating in  ratings %}
                                                {% if c.variant.product.id == rating.id  %}
                                                {% if rating.avg_rating >= 4.5 %}
                                                <div class="ratings-val" style="width: 100%;"></div>
                                              {% elif rating.avg_rating >= 3.5 %}
                                                <div class="ratings-val" style="width: 80%;"></div>
                                              {% elif rating.avg_rating >= 2.5 %}
                                                <div class="ratings-val" style="width: 60%;"></div>
                                              {% elif rating.avg_rating >= 1.5 %}
                                                <div class="ratings-val" style="width: 40%;"></div>
                                              {% elif rating.avg_rating >= 0.5 %}
                                                <div class="ratings-val" style="width: 20%;"></div>
                                              {% else %}
                                              {% endif %}
                                              {% endif %}
                                              {% endfor %}
                                               


                                            </div><!-- End .ratings -->
                                            <!-- <span class="ratings-text">( 0 Reviews )</span> -->
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" id="colorLink{{ forloop.counter }}"><span class="sr-only"></span></a>
                                            <script>
                                                var colorCode = "{{ c.variant.color.color_code }}";
                                                var colorLink = document.getElementById("colorLink{{ forloop.counter }}");
                                                colorLink.style.background = colorCode;
                                            </script>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                    
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {% endfor %}
    
                        </div><!-- End .row -->
                        {% else %}
                        <h5 style="text-align: center;"> Search not found</h5>
                     
                        {% endif %}
                        <div class="load-more-container text-center">
                            <form action="{% url 'shop' %}" method="GET">
                                <input type="hidden" value="More" name="Moreproducts">
                                <button type="submit" class="btn btn-outline-darker btn-load-more">
                                    More Products <i class="icon-refresh"></i>
                                </button>
                            </form>
                            

                        </div><!--End .load-more-container -->
                    </div><!--End .products -->

               <!--this side filter modal -->
                </div><!--End .container-fluid -->
            </div><!--End .page-content -->
        </main><!--End .main -->
        
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_qty = $('#qty-input').val();
            var add_size = $('#size-input').val();
    
            // var cart_qty = $('#pro_qty' + product_id).val();  
            console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'addcart' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                    'add_qty': add_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
    
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>

    <script>
        $('.wish-list').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_size = $('select[name="size"]').val();
    
            console.log(product_id,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_wishlist1' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                 
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in Wishlist' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully in Wishlist') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>
    
    
    
    <!-- Add this before the closing </body> tag of your HTML -->
    <script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="sidebar-filter-overlay"></div>
<aside class="sidebar-shop sidebar-filter">
    <div class="sidebar-filter-wrapper">
        <div class="widget widget-clean">
            <label></i>Filters</label>
            <a href="{% url 'shop' %}" class="btn btn-outline-primary-2"><span>clear All</span>
            </a>
        </div><!-- End .widget -->
        <form action="{% url 'shopfilter' %}" method="POST">
            {% csrf_token %}
        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                    Category
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-1">
                <div class="widget-body">
                    <div class="filter-items filter-items-count">
             
                       
                    <!-- Your category checkbox rendering code -->
{% for category in category_filter %}
<div class="filter-item">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" value="{{ category.id  }}" name="categoryfilter" class="custom-control-input cat-checkbox" id="cat-{{ forloop.counter }}">
        <label class="custom-control-label" for="cat-{{ forloop.counter }}">{{ category.categories }}</label>
    </div><!-- End .custom-checkbox -->
</div><!-- End .filter-item -->
{% endfor %}

<!-- JavaScript to handle category checkbox behavior -->
<script>
$(document).ready(function() {
    // When a category checkbox is clicked
    $(".cat-checkbox").click(function() {
        // Uncheck all other category checkboxes
        if ($(this).prop("checked")) {
            // Only uncheck other category checkboxes if the current one is checked
            $(".cat-checkbox").not(this).prop("checked", false);
        }
    });
});
</script>

                        
                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                    Size
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-2">
                <div class="widget-body">
                    <div class="filter-items">
                     <!-- Include jQuery -->


                    <!-- Your checkbox rendering code -->
                    {% for size in size_filter %}
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="{{ size.id }}" name="sizefilter" class="custom-control-input size-checkbox" id="size-{{ forloop.counter }}">
                                <label class="custom-control-label" for="size-{{ forloop.counter }}">{{ size.size_range }}</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->
                    {% endfor %}

<!-- JavaScript to handle checkbox behavior -->
<script>
    $(document).ready(function() {
        // When a size checkbox is clicked
        $(".size-checkbox").click(function() {
            // Uncheck all other checkboxes
            $(".size-checkbox").not(this).prop("checked", false);
        });
    });
</script>

                       
                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                    Color
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-3">
                <div class="widget-body">
                    <div class="filter-colors">
                        
                            
                            {% for color in color_filter %}
                            <div class="filter-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="{{ color.id }}" name="colorfilter" class="custom-control-input color-checkbox" id="color-{{ forloop.counter }}">
                                    <label class="custom-control-label" for="color-{{ forloop.counter }}"><a class=" {% if color.color_code == '#cc3333' %}selected{% endif %}" style="background: {{ color.color_code }};"><a href=""></a></label>
                                </div><!-- End .custom-checkbox -->
                            </div><!-- End .filter-item -->
                        {% endfor %}
                        
                        <!-- JavaScript to handle checkbox behavior -->
                        <script>
                            $(document).ready(function() {
                                // When a color checkbox is clicked
                                $(".color-checkbox").click(function() {
                                    // Uncheck all other checkboxes
                                    $(".color-checkbox").not(this).prop("checked", false);
                                });
                            });
                        </script>
                        
                        
                    
                    
                    
                    
                    
                     
                    </div><!-- End .filter-colors -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

       
        {% comment %} <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                    Price
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-5">
                <div class="widget-body">
                    <div class="filter-price">
                        <div class="filter-price-text">
                            Price Range:
                            <span id="filter-price-range"></span>
                        </div><!-- End .filter-price-text -->

                        <div id="price-slider"></div><!-- End #price-slider -->
                    </div><!-- End .filter-price -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->
    </div><!-- End .sidebar-filter-wrapper -->
    <div class="form-group"> {% endcomment %}
        <button type="submit" class="btn btn-primary btn-block"> FILTER </button>
    </div> <!-- form-group// --><br>
    
</form>
</aside>

    
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const statusSelect = document.getElementById('sort-select');
        
        statusSelect.addEventListener('change', function () {
            document.getElementById('shop-sorting').submit();
        });
    });
</script>


<!-- Add this script at the end of your HTML body -->

    

{% endblock %}

