{% extends "base.html" %}
{% block title %}SHOP{% endblock title %}
{% block body %}
{% load static %}
{% load mathfilters %}
<style>.page-header {
    background-image: url('{% static "template/assets/images/page-header-bg.jpg" %}');
}
</style>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Boxed No Sidebar<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url "shop" %}">Shop</a></li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="toolbox">
                <div class="toolbox-left">
                    <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                </div><!-- End .toolbox-left -->

                <div class="toolbox-right">
                    <div class="toolbox-sort">
                        <label for="sortby">Sort by:</label>
                        <form id="shop-sorting" method="post" action="{% url 'shopsort' %}">
                            {% csrf_token %}  
                            <div class="select-custom">
                                <select name="sort_select" id="sort-select" class="form-control">

                                    <option value="all" selected="selected">SORT</option>
                                    <option value="aplus" >A TO Z</option>
                                    <option value="aminus">Z TO A</option>
                                    <option value="priceminus">HIGH LOW PRICE</option>
                                    <option value="priceplus">LOW TO HIGH PRICE</option>
                                </select>
                            </div>
                            <input type="hidden" name="auto_submit" value="true">
                        </form>
                    </div><!-- End .toolbox-sort -->
                </div><!-- End .toolbox-right -->
            </div><!-- End .toolbox -->

            <div class="products">
                <div class="row">
                    {% if variant_images %}

                    {% for c in variant_images %}
                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">

                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="{% url 'productshow' c.variant.product.id c.variant.id %}">
                                    <img src="{{ c.image.url }}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="" class="btn-product-icon btn-wishlist btn-expandable wish-list" data-product_id="{{ c.variant.id }}"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action action-icon-top">
                                    <input readonly class='mtext-104 cl3 txt-center num-product' type='hidden' name='num-product' value='1' id='qty-input'>
                                    <input type='hidden' value='{{ c.variant.size.id }} id='size-i'>
                                    <a href="" data-product-id={{ c.variant.id }} class="btn-product add-to-cart-btn"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                
                                <h3 class="product-title"><a href="{% url 'productshow' c.variant.product.id c.variant.id %}">{{ c.variant.product.product_name }}</a></h3><!-- End .product-title -->
                                
                                <div class="product-price">
                                    ₹{{ c.variant.product.product_price }}  <span style="color: black;"></span>
                                </div><!-- End .product-price -->


                                {% comment %} {% if c.variant.product.offer %}
                                <div class="product-price">
                                    <del style="color:rgb(97, 97, 226);">₹{{ c.variant.product.product_price }}</del>  <span style="color:white;"></span> <span style="color: black;">₹ {{ c.variant.product.product_price | sub:c.variant.product.offer.discount_amount }}</span>
                                </div><!-- End .product-price -->
                                {% else %}
                                <div class="product-price">
                                    <del style="color:rgb(97, 97, 226);">₹{{ c.variant.product.product_price }}</del>  <span style="color:white;">--</span> <span style="color: black;"></span>
                                </div><!-- End .product-price -->
                                {% endif %} {% endcomment %}

                                <div class="ratings-container">
                                    <div class="ratings">
                                        {% for rating  in ratings  %}
                                            {% if c.variant.product.id == rating.id %}
                                                {% if rating.avg_rating >= 4.5 %}
                                                    <div class='ratings-val' style='width:100%;'></div>
                                                {% elif rating.avg_rating >= 3.5 %}
                                                    <div class='ratings-val' style='width:80%;'></div>
                                                {% elif rating.avg_rating >= 2.5 %}
                                                    <div class='ratings-val' style='width:60%;'></div>
                                                {% elif rating.avg_rating >= 1.5 %}
                                                    <div class='ratings-val' style='width:40%;'></div>
                                                {% else %}
                                                    <div class='ratings-val' style='width:20%;'></div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" id ='colorLink {{ forloop.counter }}'><span class="sr-only">Color name</span></a>
                                        <script>
                                            var colorCode='{{ c.variant.color.color_code }}';
                                            var colorLink=document.getElementById('colorLink {{forloop.counter}}');
                                            colorLink.style.background=colorCode;
                                        </script>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                    {% endfor %}

                </div> <!-- End .row -->
                {% else %}
                <h5 style="text-align: center;">Search not found</h5>
                {% endif %}

                <div class="load-more-container text-center">
                    <form action="{% url 'shop' %}" method="GET" >
                        <input type ="hidden" value="More" name="Moreproducts">
                        <button type="submit" class="btn btn-outline-darker btn-load-more">
                            More Products <i class="icon-refresh"></i>
                        </button>
                    </form>
                </div><!-- End .load-more-container -->
            </div><!-- End .products -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_qty = $('#qty-input').val();
            var add_size = $('#size-input').val();
    
            // var cart_qty = $('#pro_qty' + product_id).val();  
            console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'addcart' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                    'add_qty': add_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
    
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script> 

{% comment %} ajax wishlisssst {% endcomment %}

        <script>
            $('.wish-list').click(function (e){
                e.preventDefault();

                var product_id= $(this).data('product_id');
                var add_size =$('#size-input').val();

                console.log(product_id,add_size,'9999999999999999')
                $.ajax({
                    method:'POST',
                    url:"{% url 'add_wishlist1' %}",
                    data:{
                        'variant_id':product_id,
                        'add_size':add_size,
                        csrfmiddlewaretoken:'{{ csrf_token }}'   
                    },
                    success:  function (response){
                        console.log(response);

                        if (response.status ==='No such product found' || response.status === 'Only few quantity available' || response.status === 'Product already in wishlist' ){
                            swal.fire("Error", response.status,"error");
                            $('.cartdata').load(location.href + ".cartdata");
                        } 
                        else if(response.status === 'Product added successfully in wishlist'){
                            swal.fire("",response.status,"success");
                            $('.cartdata').load(location.href + " .cartdata");
                        }
                        else if (response.status=== 'You are not login please Login to continue'){
                            swal.fire("",response.status, "warning");
                            $('.cartdata').load(location.href + " .cartdata");
                        }
                        else if (response.status === 'Sorry this variant is not available'){
                            swal.fire("",response.status, "warning")
                        }
                        else{
                            swal("Error",response.status,"error");
                            $('.cartdata').load(location.href + " .cartdata")
                        }

                    }
                })
            })
        </script>



{% comment %} -----------------------------------------------------------FILTERSS-------------------------------------------------------- {% endcomment %}


<!-- Add this before the closing </body> tag of your HTML -->
<script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
            <aside class="sidebar-shop sidebar-filter">
                <div class="sidebar-filter-wrapper">
                    <div class="widget widget-clean">
                        <label><i class="icon-close"></i>Filters</label>
                        <a href="{% url 'shop' %}" class="sidebar-filter-clear">Clean All</a>
                    </div><!-- End .widget -->

                <form action="{% url 'shopfilter' %}" method="POST">
                    {% csrf_token %}
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                Category
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">

                                    <!-- Your category checkbox rendering code -->
                                    {% for category in category_filter %}
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="{{ category.id  }}" name="categoryfilter" class="custom-control-input cat-checkbox" id="cat-{{ forloop.counter }}">
                                            <label class="custom-control-label" for="cat-{{ forloop.counter }}">{{ category.categories }}</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    {% endfor %}
                                    
                                    <!-- JavaScript to handle category checkbox behavior -->
                                    <script>
                                    $(document).ready(function() {
                                        // When a category checkbox is clicked
                                        $(".cat-checkbox").click(function() {
                                            // Uncheck all other category checkboxes
                                            if ($(this).prop("checked")) {
                                                // Only uncheck other category checkboxes if the current one is checked
                                                $(".cat-checkbox").not(this).prop("checked", false);
                                            }
                                        });
                                    });
                                    </script>
                                
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    {% comment %} widgett 2 {% endcomment %}

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                                Size
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-2">
                            <div class="widget-body">
                                <div class="filter-items">
                                    <!-- Include jQuery -->

                                    <!-- Your checkbox rendering code -->
                                    {% for size in size_filter %}
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" value="{{ size.id }}" name="sizefilter" class="custom-control-input" id="cat-{{ forloop.counter }}">
                                                <label class="custom-control-label" for="cat-{{ forloop.counter }}">{{ size.size_chart }}</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count"></span>
                                        </div><!-- End .filter-item -->
                                    {% endfor %}

                                    <!-- JavaScript to handle checkbox behavior -->
                                    <script>
                                        $(document).ready(function() {
                                            // When a size checkbox is clicked
                                            $(".size-checkbox").click(function() {
                                                // Uncheck all other checkboxes
                                                $(".size-checkbox").not(this).prop("checked", false);
                                            });
                                        });
                                    </script>
                                
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->


                    {% comment %} widgett 3 {% endcomment %}

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                Color filter
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-3">
                            <div class="widget-body">
                                <div class="filter-colors">
                                    <!-- Include jQuery -->

                                    {% for color in color_filter %}
                                    <div class="filter-item">
                                        <label class="color-label">
                                            <input type="checkbox" value="{{ color.id }}" name="colorfilter" class="color-checkbox" id="color-{{ forloop.counter }}">
                                            <span class="color-box" style="background: {{ color.color_code }};"></span>
                                            <span class="color-name">{{ color.color_name }},</span>
                                            <span style="white-space: pre-wrap;"> </span>
                                        </label>
                                    </div><!-- End .filter-item -->
                                    {% endfor %}
                                    
                                    <!-- JavaScript to handle checkbox behavior -->
                                    <script>
                                        $(document).ready(function() {
                                            // When a color checkbox is clicked
                                            $(".color-checkbox").click(function() {
                                                // Uncheck all other checkboxes
                                                $(".color-checkbox").not(this).prop("checked", false);
                                            });
                                        });
                                    </script>
                                
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                </div><!-- End .sidebar-filter-wrapper -->

                <div class="form-group"> 
                    <button type="submit" class="btn btn-primary btn-block"> FILTER </button>
                </div> <!-- form-group// --><br>
            </form>

            </aside><!-- End .sidebar-filter -->


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const statusSelect = document.getElementById('sort-select');
                
                statusSelect.addEventListener('change', function () {
                    document.getElementById('shop-sorting').submit();
                });
            });
        </script>
        

{% endblock  %} 