{% extends 'base.html' %}
{% block title %}wishlist{% endblock %}
{% load static %}
{% block body %}

<style>.page-header {
    background-image: url('{% static "user/assets/images/page-header-bg.jpg" %}');
   
}</style>

<style>
    tbody {
        /* Set a specific height for the tbody */
        height: 250px; /* Adjust the height as needed */
        overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
    }
    .lotta{
        justify-content: center;
    }
</style>

        <main class="main" >
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        {% comment %} <li class="breadcrumb-item"><a href="#">Shop</a></li> {% endcomment %}
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product image</th>
								<th>Product name</th>
								<th>Size</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody class='lotta'>
                            {% for i in wishlist  %}
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											{% comment %} <a href="{% url "productshow" i.variants.product.id i.variant.id %}"> {% endcomment %}
                                                {% for j in img  %}
                                                {% if j.variant.id == i.variant.id  %}
												<img src="{{ j.image.url }}" alt="Product image"  >
                                                {% endif %}
                                                {% endfor %}
											</a>
										</figure>

										<h3 class="product-title">
											{% comment %} <a href="{% url "productshow" i.variants.product.id i.variant.id %}">{{ i.variant.product.product_name }}</a> {% endcomment %}
										</h3><!-- End .product-title -->

                                        <h3 class="product-title">
											<a href="#">{{ i.variant.product.product_name }}</a>
										</h3><!-- End .product-size -->

									</div><!-- End .product -->
								</td>
								<td class="price-col">{{ i.variant.product.product_price }}</td>
                                {% if i.variant.quantity == 0 %}
								<td class="stock-col"><span class="out of stock">In stock</span></td>
                                {% else %}
								<td class="stock-col"><span class="in-stock">In stock</span></td>

                                {% endif %}
								<td class="action-col">
                                    <input readonly class="mtext-104 cl3 txt-center num-product" type="hidden"
									name="num-product" value="1" id="qty-input">
                    
									<button class="btn btn-block btn-outline-primary-2" data-product_id="{{ i.variant.id }}"  data-size-id="{{ i.variant.size.id }}">
                                        <i class="icon-list-alt"></i>Add to cart
                                    </button>
								</td>
								<td class="remove-col"><a href={% url "removewishlist" i.id %}><button class="btn-remove"><i class="icon-close"></i></button></a></td>
							</tr>
                            {% endfor %}
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('.btn-outline-primary-2').click(function (e) {
        e.preventDefault();

        var product_id = $(this).data('product_id');
        var add_qty = $('#qty-input').val();
        var add_size = $(this).data('size-id');

      
        console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
        $.ajax({
            method: "POST",
            {% comment %} url: "{% url 'add_cart' %}", {% endcomment %}
            data: {

                'variant_id': product_id,
                'add_size':add_size,
                'add_qty': add_qty,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {

                console.log(response);

                if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                    swal.fire("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'Product added successfully') { 
                    swal.fire("", response.status, "success");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'you are not login please Login to continue') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else if (response.status === 'Sorry! this variant not available') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else {
                    swal("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                }
            }
        });
    });
</script>

<script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>


{% endblock %}
